# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Renviron

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Ambientes virtuais
env/
venv/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Builds
site/site/
site/public/
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporários
*.tmp
*.bak
*~
.cache/